body {
    margin: 0;
    font-family: Arial, Helvetica, san-serif;
    font-size: 14px !important;
    background-color: #fafafa !important;
}

/* Top Header Section */

.top-header-container {
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px;
}

ul>li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Header Section */

.header-container {
    display: flex;
    justify-content: space-between;
}